.spinner {
  margin: 5px 0;
  text-align: center;
  border-radius: 5px;
  padding: 30px;
}

.wrapper > div {
  margin-bottom: 10px;
}

.header {
  text-align: initial;
  margin-bottom: 20px !important;
}

.header h2 {
  display: inline;
}

.actions {
  float: right;
}

.weekly {
  text-align: left;
  padding: 10px;
  background-color: var(--primary-colour);
  border-radius: 5px;
}

.weekly h4 {
  margin: 0;
}

.weekly ul {
  list-style: none;
  padding-left: 0;
}

.weekly ul li {
  display: flex;
  flex-wrap: wrap;
}

.recipes ul {
  list-style: none;
  padding-left: 0;
}

.recipe {
  display: flex;
  background-color: var(--primary-colour);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.recipe:hover {
  background-color: var(--highlight-colour);
  cursor: pointer;
}

.recipe span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
  text-align: left;
}

.recipe select {
  border-radius: 5px;
}
