.container {
  background-color: var(--colour-background-light-accent);
  padding: var(--spacing-sm);
}

.daysContainer {
  display: flex;
}

.count {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
