.header {
  background-color: var(--colour-background);
  border-bottom: 2px solid var(--colour-action);
}

.header nav {
  padding: var(--spacing-lg);
  box-sizing: border-box;
  max-width: var(--page-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.brand {
  margin: 0;
}

.links {
  display: flex;
  align-items: flex-end;
}

.links a {
  padding: 0 var(--spacing-sm);
}

.links a:last-of-type {
  margin-right: var(--spacing-lg);
}

.logout {
  border: none;
  background-color: inherit;
  cursor: pointer;
  padding: 0;
  color: var(--colour-action);
}

.logout:hover {
  color: var(--colour-hover);
}
