.modal {
  width: 100%;
  padding: 20px;
  color: white;
  background-color: var(--primary-colour);
  border-radius: 5px;
  box-sizing: border-box;
}

.header {
  display: flex;
}

.header h3 {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
