.modal {
  width: 100%;
  padding: 20px;
  color: white;
  background-color: var(--primary-colour);
  border-radius: 5px;
  box-sizing: border-box;
}

.header {
  display: flex;
}

.header h3 {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.list {
  list-style: none;
  padding: 0;
}

.category {
  display: flex;
  padding: 10px;
  background-color: var(--secondary-colour);
  margin-bottom: 5px;
  border-radius: 5px;
}

.category:hover {
  background-color: var(--highlight-colour);
  cursor: pointer;
}

.category span {
  flex-grow: 1;
}
