.category {
  padding: var(--spacing-md);
  border-radius: var(--spacing-radius);
  margin-bottom: var(--spacing-md);
}

.categoryHeader {
  display: flex;
  justify-content: space-between;
}

.categoryHeader button {
  padding: var(--spacing-sm);
}

.items > * {
  margin: var(--spacing-sm) 0;
}

.items > *:last-child {
  margin-bottom: 0;
}
