.modal {
  max-width: 420px;
  margin: 20px auto;
  padding: 0 10px;
  max-height: 90vh;
  overflow-y: auto;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  border-radius: var(--spacing-radius);
}

.modal:focus {
  outline: none;
}

.category {
  text-align: center;
  padding: var(--spacing-md);
  margin: var(--spacing-sm) 0;
}
