.modalBody {
  padding: var(--spacing-md);
}

.modalBody input {
  width: 100%;
  box-sizing: border-box;
  border-radius: var(--spacing-radius);
}

.modalBody h4,
h5 {
  margin: var(--spacing-sm) 0;
}

.modalActions {
  text-align: right;
}

.modalActions button {
  margin-left: var(--spacing-sm);
}
