.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flagButton {
  padding: var(--spacing-md);
}

.flagged {
  color: var(--colour-danger);
}

.input {
  width: 100%;
  box-sizing: border-box;
  border-radius: var(--spacing-radius);
}

.actions {
  margin: var(--spacing-sm) 0;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
}

.modalActions .secondaryButton {
  background-color: var(--colour-background-tertiary);
}

.modalActions button {
  padding: var(--spacing-md);
  background-color: var(--colour-action);
  color: var(--colour-secondary);
  border-radius: var(--spacing-radius);
  margin-left: var(--spacing-sm);
}
