.recipe {
  padding: var(--spacing-sm);
  cursor: pointer;
  border-radius: var(--spacing-radius);
}

.recipe:hover {
  color: var(--colour-action);
  background-color: var(--colour-background-hover);
}
