div.container {
  margin: 0 0 10px 0;
  display: flex;
  background-color: var(--primary-colour);
  border-radius: 5px;
  padding: 5px;
  align-items: stretch;
}

div.container > div,
.icon {
  border-radius: 5px;
}

div.container > div:hover,
.icon:hover {
  background-color: var(--highlight-colour);
  cursor: pointer;
}

div.toggle {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

div.title {
  flex-grow: 1;
  padding: 10px 5px;
  display: inline;
}

div.title .notes {
  display: block;
  font-size: 0.8rem;
}

div.title,
div.title .notes {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.icon {
  padding: 10px;
}
