div.container {
  margin: 5px 0;
  display: flex;
}

div.clickable {
  display: inline;
  cursor: pointer;
  flex-grow: 1;
  border-radius: 5px;
  padding: 5px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.clickable input {
  margin: 0 15px;
}

div.clickable:hover {
  background-color: var(--highlight-colour);
}

.icon {
  padding: 10px;
  cursor: pointer;
}

.icon:hover {
  background-color: var(--highlight-colour);
  border-radius: 5px;
}
