.wrapper {
  text-align: center;
  max-width: 480px;
  margin: auto;
}

.actions {
  text-align: right;
}

.actions button {
  color: white;
  background-color: var(--primary-colour);
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.actions button:enabled {
  cursor: pointer;
}

.actions button:hover:enabled {
  background-color: var(--highlight-colour);
}

.addForm {
  position: sticky;
  bottom: 10px;
  width: 100%;
  background: var(--secondary-colour);
  display: flex;
  margin-top: 10px;
}

.input {
  height: 30px;
  line-height: 30px;
  vertical-align: bottom;
  border: none;
  padding: 0 5px;
  border-radius: 5px 0 0 5px;
  flex-grow: 1;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 3pt 2pt white;
}

.input:focus + button {
  box-shadow: 0 0 3pt 2pt white;
}

.submit {
  height: 30px;
  line-height: 30px;
  border: none;
  padding: 0 15px;
  border-radius: 0 5px 5px 0;
  outline: none;
}

.submit:hover:enabled {
  background-color: var(--highlight-colour);
  cursor: pointer;
  color: white;
}

.list {
  text-align: left;
  list-style: none;
  padding: 10px;
  background-color: var(--primary-colour);
  margin: 5px 0;
  border-radius: 5px;
}

.spinner {
  background-color: var(--primary-colour);
  margin: 5px 0;
  text-align: center;
  border-radius: 5px;
  min-height: 25vh;
}

.spinner svg {
  position: absolute;
  top: 26vh;
}
