.wrapper {
  text-align: center;
  max-width: 480px;
  margin: auto;
}

.clear {
  text-align: right;
}

.clear button {
  color: white;
  background-color: var(--primary-colour);
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.clear button:hover {
  background-color: var(--highlight-colour);
}

.addForm {
  position: sticky;
  bottom: 0;
  width: 100%;
  background: var(--secondary-colour);
  padding: 10px;
}

.input {
  height: 30px;
  line-height: 30px;
  vertical-align: bottom;
  border: none;
  padding: 0 5px;
  border-radius: 5px 0 0 5px;
}

.input:focus {
  outline: none;
}

.submit {
  height: 30px;
  line-height: 30px;
  vertical-align: bottom;
  border: none;
  padding: 0 15px;
  border-radius: 0 5px 5px 0;
}

.submit:hover:enabled {
  background-color: var(--highlight-colour);
  cursor: pointer;
  color: white;
}

.list {
  text-align: left;
  list-style: none;
  padding: 10px;
  background-color: var(--primary-colour);
  margin: 5px 0;
  border-radius: 5px;
}
