.button {
  cursor: pointer;
  border: none;
  border-radius: var(--spacing-radius);
  background-color: inherit;
  padding: var(--spacing-md);
  color: var(--colour-secondary);
}

.button:hover {
  color: var(--colour-action);
}

.button:focus {
  outline: none;
}
