.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  background-color: lightgray;
}

.container h2 {
  margin: 5px 0;
  flex: 1;
}

.actions ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.actions li {
  display: inline;
  margin-left: 15px;
  font-size: 0.8em;
  cursor: pointer;
}

.toggle {
  cursor: pointer;
  display: none;
  padding: 5px;
  border: none;
  color: inherit;
  background-color: inherit;
}

.toggle:hover {
  background-color: rgb(231, 231, 231);
  border-radius: 5px;
}

@media (max-width: 480px) {
  .toggle {
    display: inline;
  }

  .hidden {
    display: none;
  }

  .actions {
    flex: 0 0 100%;
  }

  .actions li {
    display: block;
    text-align: center;
    margin: 0;
  }
}
