.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  background-color: var(--primary-colour);
}

.container h2 {
  margin: 5px 0;
  border-radius: 5px;
  padding: 5px;
  flex: 1;
}

.container h2:hover {
  background-color: var(--highlight-colour);
}

.actions ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.actions li {
  display: inline;
  margin-left: 15px;
  font-size: 1em;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.actions div {
  display: inline;
}

.actions li:hover {
  background-color: var(--highlight-colour);
}

.toggle {
  cursor: pointer;
  display: none;
  padding: 5px;
  border: none;
  color: inherit;
  background-color: inherit;
}

.toggle:hover {
  background-color: var(--highlight-colour);
  border-radius: 5px;
}

@media (max-width: 480px) {
  .toggle {
    display: inline;
  }

  .hidden {
    display: none;
  }

  .actions {
    flex: 0 0 100%;
  }

  .actions a {
    width: 100%;
    display: inline-block;
  }

  .actions li {
    display: block;
    text-align: center;
    margin: 0;
    padding: 3px 0;
  }

  .actions svg {
    width: 100% !important;
  }
}
