.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}

.container p {
  flex: 1;
}

.container ul {
  list-style: none;
}

.container li {
  display: inline;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .container div {
    flex: 0 0 100%;
    order: 2;
  }

  .container div li {
    display: block;
    text-align: center;
  }
}
