.modalContainer {
  max-width: 420px;
  margin: 20px auto;
  padding: 0 10px;
}

.modalContainer:focus {
  outline: none;
}

.modal {
  width: 100%;
  padding: 20px;
  color: white;
  background-color: var(--primary-colour);
  border-radius: 5px;
  box-sizing: border-box;
}

.header h3 {
  display: inline;
}

.header button {
  float: right;
  display: inline;
}

.modal button {
  border: none;
  padding: 5px;
  background-color: inherit;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.modal button:hover {
  background-color: var(--highlight-colour);
}

.modalBody {
  padding: 10px 0;
}

.modalBody label {
  display: block;
  margin: 10px 0;
}

.modalBody select {
  width: 100%;
}

.actions button {
  display: block;
  color: black;
  background-color: white;
  margin-bottom: 5px;
  text-align: left;
  padding: 5px 10px;
}

.actions button:hover {
  background-color: var(--highlight-colour);
  color: white;
}
