.modal {
  max-width: 420px;
  margin: 20px auto;
  padding: 0 10px;
  max-height: 90vh;
  overflow-y: auto;
}

.modal:focus {
  outline: none;
}

.modalBody {
  width: 100%;
  padding: 20px;
  color: white;
  background-color: var(--primary-colour);
  border-radius: 5px;
  box-sizing: border-box;
}
