.form {
  border: 1px solid var(--colour-background-tertiary);
  max-width: 300px;
  min-width: 280px;
  margin: auto;
  padding: var(--spacing-md);
  border-radius: var(--spacing-radius);
}

.form input {
  border: none;
  margin-right: var(--spacing-sm);
  width: 100%;
  box-sizing: border-box;
}

.form input:focus {
  outline: none;
}

.form .error {
  color: var(--colour-error);
}

.form .actions {
  display: flex;
  margin-top: var(--spacing-md);
}

.form .actions button {
  /* min-width: 100px; */
  flex: 1;
  cursor: pointer;
  border: none;
  border-radius: var(--spacing-radius);
  background-color: inherit;
  padding: var(--spacing-md);
  color: var(--colour-secondary);
}

.form .actions button:disabled {
  cursor: default;
  color: var(--colour-disabled);
}

.form .actions button:hover:enabled {
  background-color: var(--colour-background-hover) !important;
  color: var(--colour-action);
}

.form .actions .add {
  background-color: var(--colour-action);
}

.form .actions .clear {
  color: var(--colour-primary);
  margin-right: var(--spacing-sm);
  background-color: var(--colour-background-light-accent);
}

.form .actions .clear:hover:enabled {
  color: var(--colour-action);
}
