.header {
  display: flex;
}

.header h3 {
  display: inline;
  flex: 1;
}

.header button {
  float: right;
  display: inline;
}

.modal label {
  display: block;
  margin-bottom: 5px;
}

.modal input {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 5px;
}

.modal a {
  color: #c0c0df;
  margin: 10px 0;
}

.modalActions {
  margin-top: 10px;
  display: flex;
}

.modalActions button:first-child {
  margin-left: auto;
}

.modalActions button:last-child {
  background-color: var(--secondary-colour);
}
