.modal {
  width: 100%;
  padding: 20px;
  color: white;
  background-color: var(--primary-colour);
  border-radius: 5px;
  box-sizing: border-box;
}

.header {
  margin-bottom: 20px;
}

.header h3 {
  display: inline;
}

.header button {
  float: right;
  display: inline;
}

.modal label {
  display: block;
  margin-bottom: 5px;
}

.modal input {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 15px;
}

.actions {
  text-align: right;
}
