.header {
  display: flex;
}

.header h3 {
  display: inline;
  flex: 1;
}

.header button {
  float: right;
  display: inline;
}

.modal label {
  display: block;
  margin-bottom: 5px;
}

.modal input {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 5px;
}

.modal a {
  color: #c0c0df;
  margin: 10px 0;
}

.ingredient {
  display: flex;
  padding: 5px;
  border-radius: 5px;
}

.ingredient:nth-child(even) {
  background-color: var(--secondary-colour);
}

.ingredient > div {
  flex: 1;
  display: flex;
  align-items: center;
}

.ingredient .added div {
  background-color: green;
}

.ingredient button {
  background-color: inherit;
}

.actions button {
  display: block;
  border: none;
  color: black;
  background-color: white;
  margin-bottom: 5px;
  text-align: left;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.actions button:hover {
  background-color: var(--highlight-colour);
  color: white;
}

.modalActions {
  margin-top: 10px;
  display: flex;
}

.modalActions button:first-child {
  margin-left: auto;
}

.modalActions button:last-child {
  background-color: var(--secondary-colour);
}
