.list {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-md);
}

.list > * {
  width: 280px;
  margin: auto;
}

.category {
  padding: var(--spacing-md);
  border-radius: var(--spacing-radius);
  margin-bottom: var(--spacing-md);
}

.items > * {
  margin: var(--spacing-sm) 0;
}

.items > *:last-child {
  margin-bottom: 0;
}
