.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list > * {
  min-width: 280px;
  /* margin-right: var(--spacing-md); */
  margin: 0 var(--spacing-sm);
}

.category {
  padding: var(--spacing-md);
  border-radius: var(--spacing-radius);
  margin-bottom: var(--spacing-md);
}

.items > * {
  margin: var(--spacing-sm) 0;
}

.items > *:last-child {
  margin-bottom: 0;
}
