.category {
  padding: var(--spacing-md);
  border-radius: var(--spacing-radius);
  margin-bottom: var(--spacing-md);
}

.list > * {
  margin: var(--spacing-sm) 0;
}

.list > *:last-child {
  margin-bottom: 0;
}
