.content {
  display: flex;
}

.content input {
  cursor: pointer;
  margin: 0 var(--spacing-md);
  align-self: center;
}

.details {
  width: 100%;
  padding: var(--spacing-sm);
  cursor: pointer;
  border-radius: var(--spacing-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin: 0 var(--spacing-sm);
}

.details:hover {
  color: var(--colour-action);
  background-color: var(--colour-background-hover);
}

.details .flag {
  color: var(--colour-danger);
  margin-right: var(--spacing-sm);
}

.details span,
small {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
