.app {
  background-color: var(--primary-colour);
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
}

.content {
  padding: 10px 20px;
  background-color: var(--secondary-colour);
}

.spinner {
  text-align: center;
  min-height: 100vh;
}

.spinner svg {
  position: absolute;
  top: 50%;
}
