.App {
  height: 100vh;
}

.list-checkbox .chakra-checkbox__label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-item__control {
  padding-left: 1rem;
}

.add-item__value-container {
  padding-left: 0 !important;
  margin-left: -2px;
}

.chakra-ui-dark .add-item__control,
.chakra-ui-dark .add-item__input,
.chakra-ui-dark .add-item__single-value,
.chakra-ui-dark .add-item__placeholder {
  color: white !important;
  background-color: inherit !important;
}

.chakra-ui-dark .add-item__menu {
  color: inherit;
  background-color: var(--chakra-colors-gray-700);
}

.chakra-ui-dark .add-item__menu-notice--no-options {
  color: inherit;
  background-color: var(--chakra-colors-gray-700);
}

.chakra-ui-dark .add-item__control {
  border-color: var(--chakra-colors-chakra-border-color) !important;
}

.chakra-ui-dark .add-item__control:hover {
  border-color: var(--chakra-colors-whiteAlpha-400) !important;
}

.add-item__option--is-focused {
  background-color: darkgray !important;
}
