body {
  margin: 0;
  font-family: "Oxygen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --page-width: 800px;
  --spacing-lg: 20px;
  --spacing-md: 10px;
  --spacing-sm: 5px;

  --spacing-radius: 5px;

  /* Background */
  --colour-uncategorised: #dedede;
}

body[data-theme="light"] {
  /* Text */
  --colour-primary: black;
  --colour-secondary: white;
  --colour-hover: lightgrey;
  --colour-error: darkred;
  --colour-success: green;
  --colour-action: #1e79c3;
  --colour-disabled: lightgrey;

  /* Background */
  --colour-background: white;
  --colour-background-secondary: rgb(66, 133, 244);
  --colour-background-tertiary: lightgrey;
}

a {
  text-decoration: none;
  color: var(--colour-action);
}

a:hover {
  color: var(--colour-hover);
}

dt {
  font-weight: bold;
}

dd {
  margin-inline-start: 0;
}

label {
  display: block;
  font-weight: bold;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
