body {
  margin: 0;
  font-family: "Oxygen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --page-width: 800px;
  --spacing-lg: 20px;
  --spacing-md: 10px;
  --spacing-sm: 5px;
}

body[data-theme="light"] {
  /* Text */
  --colour-primary: black;
  --colour-secondary: white;
  --colour-hover: darkgrey;
  --colour-error: darkred;
  --colour-success: green;

  /* Background */
  --colour-background: white;
  --colour-background-secondary: rgb(66, 133, 244);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--colour-hover);
}

dt {
  font-weight: bold;
}

dd {
  margin-inline-start: 0;
}

label {
  display: block;
  font-weight: bold;
}
