.footer {
  max-width: var(--page-width);
  padding: 0 auto;
  box-sizing: border-box;
  text-align: right;
  padding: var(--spacing-md);
  width: 100%;
  margin: 0 auto;
  background-color: var(--colour-background);
}
