.subheading {
  margin: var(--spacing-md) 0;
}

.userFormGroup input {
  width: 200px;
}

.add {
  border: none;
  background-color: inherit;
  padding: 0;
  margin-left: var(--spacing-sm);
}

.add:hover {
  cursor: pointer;
  color: var(--colour-hover);
}

.error {
  color: var(--colour-error);
  display: block;
}
