.button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.button:hover {
  color: var(--colour-hover);
}

.button:focus {
  outline: none;
}

.success {
  color: var(--colour-success);
}
