.container {
  max-width: 300px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  padding: var(--spacing-md);
}

.container > div {
  background-color: var(--colour-background-light-accent);
  border-radius: var(--spacing-radius);
  padding: var(--spacing-sm);
}

.container button {
  padding: var(--spacing-md);
  margin-left: var(--spacing-sm);
}

.quickAdd {
  color: var(--colour-action);
}

.toggle {
  color: var(--colour-action);
}

.clear {
  color: var(--colour-action);
}
